
@{
    ViewBag.Title = "Result";
}

<table style="width:100%;">
    <tr>
        <td style="width: 50%;">
            <h2>Result</h2>
        </td>

    </tr>
</table>
<hr />
<div id="Resultdashboard" style="margin-bottom:10px">
</div>
}
